@CHARSET "UTF-8";

#user-chat-container-container {overflow: auto;}
#user-notification-container {width: 250px;}
.user-notification-container-item {padding:5px}
.user-information-text-area {width:165px;white-space:nowrap;}
.user-notification-chat-message {width:150px;height:40px;overflow-y:hidden;}
.lunome-image-60 {width:60px;height:60px}
.lunome-image-100-150 {width:100px;height:150px}
.lunome-height-150 {height:150px}

.lnm-media-list-container {width: 900px; margin-left:auto; margin-right:auto}
.lnm-media-list-item-container {text-align: center;line-height: 3em;width:200px;margin: 0px 10px;}
.lnm-media-list-item-container-name { line-height:1em;margin-bottom: 20px; margin-top: 10px; }

.lnm-media-list-item {background-size: 200px 300px; height: 300px; width:200px;}
.lnm-media-list-item-intro-area {cursor:pointer;display: none;height:270px;line-height:1.5em;padding:10px;background-color:rgba(0, 0, 0, 0.5);overflow:hidden;color:#E9E9E9;}
.lnm-media-list-item-mark-container {position: relative;display:none}
.lnm-media-list-item-mark-container-show {position: relative}
.lnm-qzone-share-container {padding-top:4px;}
.media-index-tool-bar {background-color:#000;color:#fff;line-height:50px;text-align:center;width: 50px;overflow: hidden;position: fixed;top: 200px;right: auto}
.media-index-tool-bar-item {border-top: 1px solid rgba(89, 83, 83, 1);}
.media-index-tool-bar-item > a {color: #DDDDDD;text-decoration: none;}


.lunome-height-80 {height: 80px}

/* 定义用于显示电影的样式。 */
.lunome-movie-cover-200-300 {height: 300px;width:200px;}
.lunome-movie-character-photo-80-80 {height: 80px;width:80px;}
.lunome-movie-item {text-align: center;line-height: 3em;width:200px;margin: 0px 10px;}
.lunome-movie-item a {text-decoration:none;}
.lunome-movie-poster {background-size: 200px 300px; height: 300px; width:200px;}
.lunome-movie-desc-no-button {cursor:pointer;height:300px;line-height:1.5em;padding:10px;background-color:rgba(0, 0, 0, 0.5);overflow:hidden;color:#E9E9E9;}
.lunome-movie-desc-has-button {cursor:pointer;height:264px;line-height:1.5em;padding:10px;background-color:rgba(0, 0, 0, 0.5);overflow:hidden;color:#E9E9E9;}
.lunome-movie-desc-button-group {}
.lunome-movie-title-area-short { line-height:1em;margin-bottom: 20px; margin-top: 10px;}
.lunome-movie-title-area-high {}

/* 定义关于帐号信息的显示方式 */
.lunome-account-photo-40-40 {height: 40px;width:40px;}

/* 好友集体互动 */
.lunome-friends-interaction-friends-container {height: 450px;overflow: auto;}