@CHARSET "UTF-8";

#user-notification-container {width: 250px;}
.user-notification-container-item {padding:5px}
.user-information-text-area {width:165px;white-space:nowrap;}

.lunome-image-60 {width:60px;height:60px}
.lunome-image-100-150 {width:100px;height:150px}
.lunome-height-150 {height:150px}

.lnm-media-list-container {width: 900px; margin-left:auto; margin-right:auto}
.lnm-media-list-item-container {text-align: center;line-height: 3em;width:200px;margin: 0px 10px;}
.lnm-media-list-item-container-name { line-height:1em;margin-bottom: 20px; margin-top: 10px; }

.lnm-media-list-item {background-size: 200px 300px; height: 300px; width:200px;}
.lnm-media-list-item-intro-area {cursor:pointer;display: none;height:270px;line-height:1.5em;padding:10px;background-color:rgba(0, 0, 0, 0.5);overflow:hidden;color:#E9E9E9;}
.lnm-media-list-item-mark-container {position: relative;display:none}
.lnm-media-list-item-mark-container-show {position: relative}
.lnm-qzone-share-container {padding-top:4px;}
.media-index-tool-bar {background-color:#000;color:#fff;line-height:50px;text-align:center;width: 50px;overflow: hidden;position: fixed;top: 200px;right: auto}
.media-index-tool-bar-item {border-top: 1px solid rgba(89, 83, 83, 1);}
.media-index-tool-bar-item > a {color: #DDDDDD;text-decoration: none;}